@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
  }
}

body {
  background-color: var(--background-color);
}
