@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: white;
    --color: black;
  }

  .dark {
    --background: black;
    --color: white;
  }
}

body {
  background-color: var(--background);
  color: var(--color);
  padding-bottom: 200px;
}
